* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
div{position: relative;
  width: 300px;
  height: 250px;
  margin-bottom: 15px;

}
#box1{
  top:0px;
left:100px;
  background-color: black;
  position: absolute;
  
}
#box2{
  background-color: black;
  top:0px;
left: 500px;
  position: absolute;
  
}
#box3{
  background-color: black;
  top:0px;
  left:900px;
  position: absolute;
  
}
h1{
  text-align: center;
}
#h1{
  background-color: #DEB887;
  padding: 4px;
  font-size: 18px;
  color:white;
  text-align: center;
  float:right;
  border: 1px solid white;
}
#h2{
  background-color: #5F9EA0;
  padding: 4px;
  font-size: 18px;
  color:white;
  text-align: center;
  float:right;
  border: 1px solid white;
}
#h3{
  background-color: #7FFF00;
  padding: 4px;
  font-size: 18px;
  color:white;
  text-align: center;
  float:right;
  border: 1px solid white;
}
p{padding: 5px;
  color: white;
  font-family: cursive;
}